.videoContainer {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  /* width: 100%; */
  max-width: 350px !important;
  height: 600px;
  /* aspect-ratio: 10/5; */
  margin: 0 auto;
}

.video {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.progressBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, 0.3);
}

.progressFill {
  height: 100%;
  background: #2164F4;
  transition: width 0.1s linear;
}

.durationBadge {
  position: absolute;
  top: 12px;
  right: 12px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 500;
}